.logo {
  height: 64px;
  background-color: #101b58;
  padding-left: 24px;
  padding-top: 16px;
}

.logo img {
  display: inline;
  vertical-align: middle;
  width: 32px;
}

.logo .aicr-text {
  display: inline;
  vertical-align: middle;
  width: 70px;
}

.logo .nodisplay {
  display: none;
}
